
    <h1 class="display-4">Add Product</h1>
    <form action="/admin/product/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
                <label for="display_image">Display image</label>                
                <input type="file" name="display_image" multiple="multiple">
            </div>
            <div class="form-group">
                    <label for="display_price">Display Price</label>
                    <input type="text" name="display_price" class="form-control">
                </div>
        <div class="form-group">
                <label for="description">body</label>
                <textarea type="text" name="description" class="form-control"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>